

body {
  
    background-color: rgb(15, 15, 26);
    color: #000000;
}

.jumbotron {
	background-image: url("https://github.com/aaron-ardell/Belly_Button_Biodiversity/blob/main/js/css/geometric.png");
	background-size: 100%;
    text-align: center;   
}
